@use '../0-tools/vars' as *;

html {
  background-color: $color-page-background;
}

html {
  /* Set this to your navbar height + 15-20px for "breathing room" */
  scroll-padding-top: 117px;
}

@media screen and (min-width: 992px) {
  html {
    /* Set this to your navbar height + 15-20px for "breathing room" */
    scroll-padding-top: 111px;
  }
}
