.svg__fill {
  &--blue {
    fill: $primary-blue;
  }
  &--white {
    fill: $white;
  }
}

.svg {
  height: 100px;
  width: 100px;
  &--none {
    fill: none;
  }
  &--blue {
    fill: $primary-blue;
  }
  &--red {
    fill: $primary-red;
  }
}

.svg--max-width {
  max-width: 100%;
}

.svg {
  &__button {
    height: 48px;
    width: 48px;
  }
  &--fill-none {
    fill: none;
  }
  &--fill-white {
    fill: $white;
  }
  &--fill-blue {
    fill: $primary-blue;
  }
}

.svg__action--place {
  margin-left: -2rem;
}

@media screen and (min-width: 360px) {
  .svg__action--place {
    margin-left: -3rem;
  }
}

@media screen and (min-width: 768px) {
  .svg__action--place {
    margin-left: 0;
  }
}

@media screen and (min-width: 360px) {
  .svg__button {
    height: 48px;
    width: 48px;
  }
}

@media screen and (min-width: 768px) {
  .svg__button {
    height: 36px;
    width: 36px;
  }
}

@media screen and (min-width: 992px) {
  .svg__button {
    height: 48px;
    width: 48px;
  }
}

// Styling of the little sync icon that refreshes the KCC-alerts system/message
.svg__sync {
  fill: $color-blue-reboot;
  transition: fill ease-in-out .2s;
}

button:hover .svg__sync,
button:focus .svg__sync {
  fill: $color-blue-reboot-hover;
}

// Styling for `_includes/svg/mykcc.html` - which is a stylized MyKCC link
// For creating a a stylized MyKCC link via {% include svg/mykcc.html %}
/**
*
* TODO -  Remove these style rules (and `_includes/svg/mykcc.html`) when gem version is higher 
*         than kcc-gem-theme-2.14.1.gem - these style rules are being moved into the theme
*
*/

.svg__mykcc {
  display: inline-block;
  height: 1.5rem;
  width: 80px;
  fill: $color-bs-blue;
}

a.svg__link--no-decoration:hover,
a.svg__link--no-decoration:focus {
  text-decoration: none;
}

a.svg__link--no-decoration:hover .svg__mykcc,
a.svg__link--no-decoration:focus .svg__mykcc{
  fill: $color-bs-blue-hover;
}