.svg__fill {
  &--blue {
    fill: $primary-blue;
  }
  &--white {
    fill: $white;
  }
}

.svg {
  height: 100px;
  width: 100px;
  &--none {
    fill: none;
  }
  &--blue {
    fill: $primary-blue;
  }
  &--red {
    fill: $primary-red;
  }
}