.svg__fill {
  &--blue {
    fill: $primary-blue;
  }
  &--white {
    fill: $white;
  }
}

.svg {
  height: 100px;
  width: 100px;
  &--none {
    fill: none;
  }
  &--blue {
    fill: $primary-blue;
  }
  &--red {
    fill: $primary-red;
  }
}

.svg--max-width {
  max-width: 100%;
}

.svg {
  &__button {
    height: 48px;
    width: 48px;
  }
  &--fill-none {
    fill: none;
  }
  &--fill-white {
    fill: $white;
  }
  &--fill-blue {
    fill: $primary-blue;
  }
}

.svg__action--place {
  margin-left: -2rem;
}

@media screen and (min-width: 360px) {
  .svg__action--place {
    margin-left: -3rem;
  }
}

@media screen and (min-width: 768px) {
  .svg__action--place {
    margin-left: 0;
  }
}

@media screen and (min-width: 360px) {
  .svg__button {
    height: 48px;
    width: 48px;
  }
}

@media screen and (min-width: 768px) {
  .svg__button {
    height: 36px;
    width: 36px;
  }
}

@media screen and (min-width: 992px) {
  .svg__button {
    height: 48px;
    width: 48px;
  }
}
