<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="HTTPS Redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="/help Redirect" stopProcessing="true">
                   <match url="(.*)" />
                   <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                      <add input="{HTTP_HOST}{REQUEST_URI}" pattern="(.*).kcc.edu/help" />
                   </conditions>
                   <action type="Redirect" url="https://form.jotform.com/81775152814965" redirectType="Permanent"/>
                 </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
