// Specific classes for the CloudCannon editor/interface.
.editor-link {
  display: none;
}

.cms-editor-active .editor-link {
  display: block;
}

.editor-button {
  display: none;
}

.cms-editor-active .editor-button {
  display: inline-block;
}

// CloudCannon likes to inject paragraph elements inside list-items.
// Since Bootstrap adds a margin-bottom to paragraph elements it causes weird list-item spacing.
//   Code example:
//     <li>
//       <p>My list-item text that CloudCannon wrapped in a paragraph element!</p>
//     </li>
// This rule eliminates the large gaps between list items while allowing complex list items
//  that can contain a multi-paragraph layout:
li > p:only-child {
  margin-bottom: 0;
}
