.ie-only__no-flex {
  display: inline !important;
}

.ie-only__float-right {
  float: right;
}

@media screen and (min-width: 980px) and (max-width: 1448px) {
  .ie-only__hgroup {
    max-width: 240px !important;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1448px) {
  .ie-only__hgroup {
    max-width: 270px !important;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1448px) {
  .ie-only__hgroup {
    max-width: 300px !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1448px) {
  .ie-only__hgroup {
    max-width: 230px !important;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1448px) {
  .ie-only__hgroup {
    max-width: 240px !important;
  }
}
