//  VARIABLES
// =============================

// Fonts
$font-family-paragraph: 'Open Sans', sans-serif;
$font-family-headings: 'Roboto', sans-serif;
$font-family-power: 'Libre Franklin', sans-serif;
$font-family-kcc: 'Eurostile', sans-serif;
$font-family-oswald: 'Oswald', sans-serif;
$font-family-saira: 'Saira', 'sans-serif';
$font-family-icons: 'Material Icons';

$font-size-base: 1rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-boldish: 500;
$font-weight-bolder: 600;
$font-weight-bold: 700;
$font-weight-black: 900;


//Image path for most of global style sheet
$imagedir:'/assets/img/';

// Colors
//KCC colors
$primary-blue: #0f3b63;       // Primary red-color
$primary-red: #c61f48;        // Primary blue-color
$accent-blue: #005bac;        // Accent blue-color used in all links and link buttons;
$color-blue-light: #ccdde1;
$color-tan-light: #fcf1d6;
$color-orange: #f99e1b;
$color-blue-grey: #7a7b7b;
$color-blue-lighter-nav: #e2e3e4;
$color-black-light: rgba(0,0,0,.15);
$color-red-darker: #8a1632;

$color-blue-grey: #b8babc;
$color-page-background: $color-blue-grey;
$color-blue-light-nav: $color-blue-grey;

$black: #000;
$grey-1: #666;
$grey-2: #e5e8ed;
$grey-3: #f1f2f7;            //  Background color for slick tracks
$grey-4: #f8f9fa;            // Background color for footer (and Bootstrap 4 light navbar)
$grey-5: #b1b1b1;            // Border-bottom for local-nav navigation bar
$grey-6: #58585b;
$grey-7: #868686;
$grey-8: #d9d9d9;

$white: #fff;

$color-alert: #856404;


$landing-bg: $grey-2;        // Landing page's background-color
$default-bg: $white;        // Background color for non-landing pages
$footer-bg: $white;         // Footer's background color
$color-grey-heading: $grey-1;      // Grey headings used within page content
$fa-color: $primary-red;
$slide-bg: $white;            // Background color for the upcoming games slick slides
$sub-nav-heading: $white;     // Font color for h1.page-heading heading of sub-nav
$nav-link: $white;            // Color for nav-link-main links in mega-nav

$btn-primary-bg: #0051a7;
$btn-primary-border: #003773;
$btn-hover-bg: #022b55;
$btn-hover-border: #021e3d;
$darker-link: #006ce0;
$orange-heading: $color-orange;
