    <!-- Typkit font for KCC logo-font -->
    <link rel="stylesheet" href="https://use.typekit.net/mli7lsm.css">
    <!-- Link to Google Font's "Roboto" font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <!-- Link to Google Font's "Open Sans" font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!-- Link to Google Font's "Oswald" font -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:300,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
