<div class="row editor-link">
  <div class="col editor-link mb-3">
    <a href="cloudcannon:collections/_accordions/" class="btn btn-success editor-button">Edit Accordions Collection</a>
  </div>
</div>
<div id="accordion" class="accordion">
  {% assign page_title = page.title %}
  {% assign accordion_collection = site.accordions | where: "accordion_page", page_title | sort: "order" %}
  {% for item in accordion_collection %}
  <div class="card">
    <div class="card-header accordion__padding-left" id="card-header-{{ item.card_heading | downcase | replace: '-', '' | replace: '&', 'and' | replace: ' ', '-' | replace: "'", "" }}">
        <h2 class="mb-0 accordion__typography--card-header accordion__typography--hover">
          <button class="btn btn-link buttons__no-decoration accordion__button{% if forloop.first != true %} collapsed{% endif %}{% if forloop.first == true and page.accordion_expanded == false %} collapsed{% endif %}" type="button" data-target="#{{ item.card_heading | downcase | replace: '-', '' | replace: '&', 'and' | replace: ' ', '-' | replace: "'", "" }}" data-toggle="collapse" aria-expanded="{% if forloop.first == true and page.accordion_expanded != false %}true{% else %}false{% endif %}" aria-controls="{{ item.card_heading | downcase | replace: '-', '' | replace: '&', 'and' | replace: ' ', '-' | replace: "'", "" }}">
            {{ item.card_heading }}
          </button>
        </h2>
    </div>
    <div id="{{ item.card_heading | downcase | replace: '-', '' | replace: '&', 'and' | replace: ' ', '-' | replace: "'", "" }}" class="collapse{% if forloop.first == true and page.accordion_expanded != false %} show{% endif %}" aria-labelledby="card-header-{{ item.card_heading | downcase | replace: '-', '' | replace: '&', 'and' | replace: ' ', '-' | replace: "'", "" }}">
        <div class="card-body">
          {{ item.content }}
        </div>
    </div>
  </div>
  {% endfor %}
</div>
