<section class="benefits__first-section--marg">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h5 class="text-center benefits__typography--h5  benefits__typography--h5--mb">Why Choose KCC?</h5>
      </div>
    </div>
    <div class="row">
      <div id="colSave" class="col-12 col-md-4">
        <div class="text-center">
          {% include svg/save-money.html %}
        </div>
        <h6 class="benefits__typography--h6 text-center editable">Save Money</h6>
        <div class="editable">
          <p class="text-center typography__larger-p"><strong>KCC costs 1/3 less</strong> than 4-year colleges and universities and offers the same great education. Plus, financial aid & scholarships can&nbsp;help.</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="text-center">
          {% include svg/love.html %}
        </div>
        <h6 class="benefits__typography--h6 text-center editable">Love What You Do</h6>
        <p class="text-center typography__larger-p">KCC has degree & certificate <strong>options to fit your interests</strong>. You can transfer after KCC to complete a bachelor’s degree, or enter the&nbsp;workforce.</p>
      </div>
      <div class="col-12 col-md-4">
        <div class="text-center">
          {% include svg/goals.html %}
        </div>
        <h6 class="benefits__typography--h6 text-center editable">Reach Your Goals</h6>
        <p class="text-center typography__larger-p">We care about your progress and want you to succeed. KCC’s small class sizes, faculty and support services <strong>help you stay on track to&nbsp;graduate.</strong></p>
      </div>
    </div>
  </div>
</section>

<section class="benefits__section--marg">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="benefits__typography--h5 benefits__testimonials--mb text-center">What Our Students Say</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 text-center">
        <img src="{{ page.baseurl }}assets/img/d-daun2.jpg" class="benefits__borders--circle-img img-fluid rounded-circle" alt="">
      </div>
      <div class="col-12 col-md-8 align-self-center">
        <p class="benefits__typography--student-p"><em>“I completed finals the week of my 60th birthday, something I am proud of. In 1980 I received a B.S. in Biology, but this Associate’s Degree in Computer Graphics Technology means even more to me. Each thing I have learned has made me that much more capable in today’s world, allowing me to find job opportunities that I couldn’t have taken advantage of before. KCC has made a huge difference in my life, both in learning and in the people I have come to know here.”</em></p>
        <span class="benefits__typography--img-cap">-&nbspDebra A. Daun, Class of 2018</span>
      </div>
    </div>
    <div class="row benefits__row--pad">
      <div class="col-12 col-md-8 order-2 order-md-1 align-self-center">
        <p class="benefits__typography--student-p"><em>“I’m the first one in my family to graduate. The professors would take their time to know you. That’s what I really liked about this. It was smaller....everybody knows you here. I really liked KCC. I’m really excited to see where this takes me next.”</em></p>
        <span class="benefits__typography--img-cap">-&nbsp;Miguel Angel Diaz Ramirez, Class of 2018</span>
      </div>
      <div class="col-12 col-md-4 text-center order-1 order-md-2">
        <img src="{{ page.baseurl }}assets/img/miguel2.jpg" class="benefits__borders--circle-img img-fluid rounded-circle" alt="">
      </div>
    </div>
  </div>
</section>

<section class="benefits__section--marg benefits__blue-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="benefits__typography--h5 benefits__typography--h5--mb text-center">Recognized & Accredited</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4 text-center text-lg-left">
        <div class="benefits__accredited--card mx-auto">
          <div class="text-center">
            {% include svg/check.html %}
            <span class="benefits__accredited--span-l">KCC  is Accredited</span>
            <span class="benefits__accredited--span-s">by the Higher Learning Commission (hlcommission.org), a regional accreditation agency recognized by the U.S. Department of Education.</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 text-center">
        <img src="{{ page.baseurl }}assets/img/zippia.png" class="benefits__idfpr-img img-fluid" alt="#1 community college in Illinois for job placement according to Zippia.com">
        <span class="benefits__accredited--span--source text-left w-50 mx-auto">Source: Zippia.com</span>
      </div>
      <div class="col-12 col-lg-4">
        <div class="row">
          <div class="col">
            <img src="{{ page.baseurl }}assets/img/itransfer.png" alt="Illinois Itransfer logo" class="benefits__itransfer-img float-right
            float-ls-none">
          </div>
          <div class="col">
            <span class="benefits__typography-itransfer">Illinois<br> Transfer<br> Articulation<br></span>
          </div>
        </div>
        </div>
      </div>
    </div>
</section>
