
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumbs">
  {% if site.core_root == true %}  
    <li class="breadcrumb-item">Home</li>
  {% else %}
    {% if page.url == "/" %}
    <li class="breadcrumb-item">
      <a href="../">
        <svg id="home-icon" role="image" class="breadcrumbs--home" height="24px" width="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-labelledby="home-icon-title">
          <title lang="en" id="home-icon-title">Home</title>
          <path class="breadcrumbs--home--border" d="M0,0h24v24H0V0z"/>
          <polygon class="breadcrumbs--home--house" points="14.5,19.5 14.5,13.5 9.5,13.5 
          9.5,19.5 5.5,19.5 5.5,11.5 3.3,11.5 12,3.7 20.7,11.5 18.5,11.5 18.5,19.5 "/>
        </svg>
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    {% else %}
    {% assign url_arr = page.url | split: "/" %}
    <li class="breadcrumb-item">
      <a href="../{{ page.baseurl }}">
        <svg id="home-icon" role="image" class="breadcrumbs--home" height="24px" width="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-labelledby="home-icon-title">
          <title lang="en" id="home-icon-title">Home</title>
          <path class="breadcrumbs--home--border" d="M0,0h24v24H0V0z"/>
          <polygon class="breadcrumbs--home--house" points="14.5,19.5 14.5,13.5 9.5,13.5 
          9.5,19.5 5.5,19.5 5.5,11.5 3.3,11.5 12,3.7 20.7,11.5 18.5,11.5 18.5,19.5 "/>
        </svg>
      </a>
    </li>
    <li class="breadcrumb-item"><a href="{{ page.baseurl }}">{{ site.site_name }}</a></li>
    {% for item in url_arr %}
    {% if item != '' %}
      {% if forloop.last %}
    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
      {% else %}
    <li class="breadcrumb-item"><a href="../">{{ item | capitalize }}</a></li>
      {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
  {% endif %}
  </ol>
</nav>