<nav aria-label="Breadcrumb">
  <ol class="breadcrumb breadcrumbs">
  {% if site.core_root == true %}
  {% comment %}
  <!-- core_root: true is for the core project (project containing the kcc.edu homepage) -->
  {% endcomment %}
    {% if page.title != '404' and page.title != 'Settings' %} 
    <li class="breadcrumb-item">
      <a href="./" aria-current="page">
        <svg id="home-icon" role="img" class="breadcrumbs--home" height="24px" width="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-labelledby="home-icon-title">
          <title lang="en" id="home-icon-title">Home</title>
          <path class="breadcrumbs--home--border" d="M0,0h24v24H0V0z"/>
          <polygon class="breadcrumbs--home--house" points="14.5,19.5 14.5,13.5 9.5,13.5 
          9.5,19.5 5.5,19.5 5.5,11.5 3.3,11.5 12,3.7 20.7,11.5 18.5,11.5 18.5,19.5 "/>
        </svg>
      </a>
    </li>
    {% else if page.title == '404' or page.title == 'Settings' %}
    <li class="breadcrumb-item">
      <a href="../">
        <svg id="home-icon" role="img" class="breadcrumbs--home" height="24px" width="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-labelledby="home-icon-title">
          <title lang="en" id="home-icon-title">Home</title>
          <path class="breadcrumbs--home--border" d="M0,0h24v24H0V0z"/>
          <polygon class="breadcrumbs--home--house" points="14.5,19.5 14.5,13.5 9.5,13.5 
          9.5,19.5 5.5,19.5 5.5,11.5 3.3,11.5 12,3.7 20.7,11.5 18.5,11.5 18.5,19.5 "/>
        </svg>
      </a>
    </li>
    <li class="breadcrumb-item active"><a href="./" aria-current="page">{{ page.title }}</a></li>
    {% endif %}
  {% else %}
  {% comment %}
  <!-- Non-core_root=true is for the other core sites -->
  {% endcomment %}
    {% if page.url == "/" %}
    <li class="breadcrumb-item">
      <a href="../">
        <svg id="home-icon" role="img" class="breadcrumbs--home" height="24px" width="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-labelledby="home-icon-title">
          <title lang="en" id="home-icon-title">Home</title>
          <path class="breadcrumbs--home--border" d="M0,0h24v24H0V0z"/>
          <polygon class="breadcrumbs--home--house" points="14.5,19.5 14.5,13.5 9.5,13.5 
          9.5,19.5 5.5,19.5 5.5,11.5 3.3,11.5 12,3.7 20.7,11.5 18.5,11.5 18.5,19.5 "/>
        </svg>
      </a>
    </li>
    <li class="breadcrumb-item active"><a href="./" aria-current="page">{{ page.title }}</a></li>
    {% else %}
    {% assign url_arr = page.url | split: "/" | where_exp: "item", "item != ''" %}
    <li class="breadcrumb-item">
      <a href="../{{ page.baseurl }}">
        <svg id="home-icon" role="img" class="breadcrumbs--home" height="24px" width="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-labelledby="home-icon-title">
          <title lang="en" id="home-icon-title">Home</title>
          <path class="breadcrumbs--home--border" d="M0,0h24v24H0V0z"/>
          <polygon class="breadcrumbs--home--house" points="14.5,19.5 14.5,13.5 9.5,13.5 
          9.5,19.5 5.5,19.5 5.5,11.5 3.3,11.5 12,3.7 20.7,11.5 18.5,11.5 18.5,19.5 "/>
        </svg>
      </a>
    </li>
    <li class="breadcrumb-item"><a href="{{ page.baseurl }}">{{ site.site_name }}</a></li>
    {% for item in url_arr %}
    {% assign depth = url_arr.size | minus: forloop.index %}
    {% if depth == 4 %}
      {% assign back_link = '../../../../' %}
    {% elsif depth == 3 %}
      {% assign back_link = '../../../' %}
    {% elsif depth == 2 %}
      {% assign back_link = '../../' %}
    {% elsif depth == 1 %}
      {% assign back_link = '../' %}
    {% endif %}
      {% if forloop.last %}
    <li class="breadcrumb-item active"><a href="./" aria-current="page">{{ page.title }}</a></li>
      {% else %}
    <li class="breadcrumb-item"><a href="{{ back_link }}">{{ item | split: '-' | join: ' ' | capitalize }}</a></li>
      {% endif %}
    {% endfor %}
    {% endif %}
  {% endif %}
  </ol>
</nav>
