      {%- assign sorted_contacts = site.contacts | sort: "display_order" -%}
      {%- if include.section_heading_level -%}
        {%- assign heading_level = include.section_heading_level -%}
      {%- else -%}
        {%- assign heading_level = 'h3' -%}
      {%- endif -%}
      {%- if include.name_heading_level -%}
        {%- assign name_heading_level = include.name_heading_level -%}
      {%- else -%}
        {%- assign name_heading_level = 'h4' -%}
      {%- endif -%}
      {%- if include.title_heading_level -%}
        {%- assign title_heading_level = include.title_heading_level -%}
      {%- else -%}
        {%- assign title_heading_level = 'h5' -%}
      {%- endif -%}
      <section>
        <div class="container">
          <div class="row">
            <div class="col mt-1 section__heading-underline--transparent">
              <{{ heading_level }} id="contact" class="typography__section--heading margins__heading--btm links__offset">Contacts</{{ heading_level }}>
            </div>
          </div>
        {% if page.contacts_background_tan == true %}</div>
      <div class="container contacts__padding-top background__color--tan">{% endif %}
          <div class="row editor-link">
            <div class="col editor-link mb-3">
              <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Contacts</a>
            </div>
          </div>
          <div class="row">
            {%- for contact in sorted_contacts -%}
            {%- assign contact_name = contact.name | split: " " -%}
            {%- assign first = contact_name[0] -%}
            {%- assign last = contact_name[1] -%}
            {% if contact.portrait_image != "For departments with no contact photos, do not change this field." %}
            <div class="col-md-6 contacts__col-bottom-margin">
              {% if contact.general %}
              <div class="row">
              {% else %}
              <div itemscope itemtype="https://schema.org/Person" class="row">
              {% endif %}
                <div class="col-4 contacts__col--img">
                {% if contact.portrait_image != 'none' %}<img src="{{ page.baseurl }}assets/img/placeholder_square.jpg" data-src="{{ page.baseurl }}{{ contact.portrait_image }}" width="150px" height="150px" alt="{{ contact.name }}" class="img-fluid contacts__portrait" itemprop="image" />{% endif %}
                </div>
                <div class="col-8">
                  {% if contact.contacts_title and contact.contacts_title != '' %}
                  <hgroup>
                    <{{ name_heading_level }} class="typography__contacts--name notranslate"{% unless contact.general %} itemprop="name"{% endunless %}>{{ contact.name }}</{{ name_heading_level }}>
                    <p class="typography__contacts--title typography--heading-line-height" itemprop="jobTitle">{{ contact.contacts_title }}</p>
                  </hgroup>
                  {% else %}
                  <{{ name_heading_level }} class="typography__contacts--name notranslate"{% unless contact.general %} itemprop="name"{% endunless %}>{{ contact.name }}</{{ name_heading_level }}>
                  {% endif %}
                  <p class="notranslate">
                    {% if contact.phone %}<a href="tel:1{{ contact.phone | remove: '-' }}" class="links__darker-link" itemprop="telephone">{{ contact.phone }}</a><br>{% endif %}
                    {% if contact.general %}
                    {% for item in contact.general %}
                    <span class="typography__contacts--title">{{ item.label }}:</span>&nbsp;<a href="tel:+1{{ item.phone | remove: '-' }}">{{ item.phone }}</a><br>
                    {% endfor %}
                    {% endif %}
                    {% if contact.email %}<a class="links__darker-link" target="_blank" href="https://secure.jotform.com/90435102482954?to[first]={{ first }}&amp;to[last]={{ last }}&amp;submitEmail={{ contact.email | remove: '@kcc.edu' }}%40kcc.edu" itemprop="url">Email<span class="visually-hidden"> {{ contact.name }}</span></a><br>{% endif %}
                    {%- if contact.fax -%}Fax: <span itemprop="faxNumber">{{ contact.fax }}</span>{% endif %}
                    {%- if contact.bio == true -%}<button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#{{ contact.name | downcase | replace: ' ', '-' | remove: '.' | remove: '/' | remove: "'" | remove: '’' }}">View Bio</button>{% endif %}
                  </p>
                </div>
              </div>
            </div>
            {% else %}
            {% if contact.general %}
            <div class="col-sm-6 col-md-4 mb-3">
            {% else %}
            <div itemscope itemtype="https://schema.org/Person" class="col-sm-6 col-md-4 mb-3">
            {% endif %}
              {% if contact.contacts_title and contact.contacts_title != '' %}
              <hgroup>
                <{{ name_heading_level }} class="typography__contacts--name notranslate"{% unless contact.general %} itemprop="name"{% endunless %}>{{ contact.name }}</{{ name_heading_level }}>
                <p class="typography__contacts--title typography--heading-line-height" itemprop="jobTitle">{{ contact.contacts_title }}</p>
              </hgroup>
              {% else %}
              <{{ name_heading_level }} class="typography__contacts--name notranslate"{% unless contact.general %} itemprop="name"{% endunless %}>{{ contact.name }}</{{ name_heading_level }}>
              {% endif %}
              <p class="notranslate">
                {% if contact.phone %}<a href="tel:1{{ contact.phone | remove: '-' }}" class="links__darker-link" itemprop="telephone">{{ contact.phone }}</a><br>{% endif %}
                {% if contact.general %}
                {% for item in contact.general %}
                <span class="typography__contacts--title">{{ item.label }}:</span>&nbsp;<a href="tel:+1{{ item.phone | remove: '-' }}">{{ item.phone }}</a><br>
                {% endfor %}
                {% endif %}
                {% if contact.email %}<a class="links__darker-link" target="_blank" href="https://secure.jotform.com/90435102482954?to[first]={{ first }}&amp;to[last]={{ last }}&amp;submitEmail={{ contact.email | remove: '@kcc.edu' }}%40kcc.edu" itemprop="url">Email<span class="visually-hidden"> {{ contact.name }}</span></a><br>{% endif %}
                {% if contact.fax %}Fax: <span itemprop="faxNumber">{{ contact.fax }}</span>{% endif %}
                {% if contact.bio == true %}<button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#{{ contact.name | downcase | replace: ' ', '-' | remove: '.' | remove: '/' | remove: "'" | remove: '’' }}">View Bio</button>{% endif %}
              </p>
            </div>
            {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
      </section>
      {% for contact in sorted_contacts %}
      {%- if contact.bio == true -%}
      <!-- Modal -->
      <div class="modal fade" id="{{ contact.name | downcase | replace: ' ', '-' | remove: '.' | remove: '/' | remove: "'" | remove: '’' }}" tabindex="-1" aria-labelledby="{{ contact.name | downcase | replace: ' ', '-' | remove: '.' | remove: '/' | remove: "'" | remove: '’' }}-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="typography__h6" id="{{ contact.name | downcase | replace: ' ', '-' | remove: '.' | remove: '/' | remove: "'" | remove: '’' }}-label">{{ contact.name }} Bio</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% if contact.portrait_image != 'For departments with no contact photos, do not change this field.' and contact.portrait_image != 'none' %}<img src="{{ page.baseurl }}assets/img/placeholder_square.jpg" data-src="{{ page.baseurl }}{{ contact.portrait_image }}" class="img-fluid float-start me-2 mb-2" width="150px" height="150px" alt="{{ contact.name }}">{% endif %}
              {% if contact.contacts_title and contact.contacts_title != '' %}
              <hgroup>
                <h2 class="typography__contacts--name notranslate">{{ contact.name }}</h2>
                <p class="typography__contacts--title typography--heading-line-height">{{ contact.contacts_title }}</p>
              </hgroup>
              {% else %}
              <h2 class="typography__contacts--name notranslate">{{ contact.name }}</h2>
              {% endif %}
              {{ contact.content }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      {%- endif -%}
      {% endfor %}
