
        <div class="fb-widget__heading-margin">
          <h4 class="typography__social-accounts">Facebook</h4>
        </div>
        <div class="fb-page" data-href="https://www.facebook.com/KankakeeCommunityCollege/" data-width="500" data-height="800" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/KankakeeCommunityCollege/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/KankakeeCommunityCollege/">Kankakee Community College</a></blockquote></div>
