<div class="text-center">
  <span>
    <a href="https://www.facebook.com/KankakeeCommunityCollege/" class="footer-social-links" target="_blank" rel="noopener" title="Facebook">
      <img
        src="{{ page.baseurl }}assets/img/facebook-f_white.svg"
        class="footer-icons"
        alt="Facebook">
    </a>
  </span>
  <span>
    <a href="https://twitter.com/KCCedu" class="footer-social-links" target="_blank" rel="noopener" title="X">
      <img
        src="{{ page.baseurl }}assets/img/xitter.svg"
        class="footer-icons"
        alt="X">
    </a>
  </span>
  <span>
    <a href="https://www.instagram.com/kccedu/" class="footer-social-links" target="_blank" rel="noopener" title="Instagram">
      <img
        src="{{ page.baseurl }}assets/img/instagram-white.svg"
        class="footer-icons"
        alt="Instagram">
    </a>
  </span>
  <span>
    <a href="https://www.youtube.com/user/KankakeeCommCollege" class="footer-social-links" target="_blank" rel="noopener" title="YouTube">
      <img
        src="{{ page.baseurl }}assets/img/youtube-white.svg"
        class="footer-icons"
        alt="YouTube">
    </a>
  </span>
  <span>
    <a href="https://www.pinterest.com/kccedu/" class="footer-social-links" target="_blank" rel="noopener" title="Pinterest">
      <img
        src="{{ page.baseurl }}assets/img/pinterest-p_white.svg"
        class="footer-icons"
        alt="Pinterest">
    </a>
  </span>
  <span>
    <a href="https://www.linkedin.com/company/kankakee-community-college" class="footer-social-links" target="_blank" rel="noopener" title="LinkedIn">
      <img
        src="{{ page.baseurl }}assets/img/linkedin-white.svg"
        class="footer-icons"
        alt="LinkedIn">
    </a>
  </span>
</div>
