<footer class="footer footer__margin">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 footer__mobile--margin-bottom">
        <div class="row">
          <div class="col-lg-12 text-center">
            <a href="{{ site.public-url }}" class="footer-link" target="_blank" rel="noopener"><h5 class="footer-heading">{{ site.public-url | replace: "https://", "" }}</h5></a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="text-center">
              <span>
                <a href="http://www.facebook.com/KankakeeCommunityCollege/" class="footer-social-links" target="_blank" rel="noopener">
                  <img src="{{page.baseurl}}assets/img/facebook-f_white.svg" class="footer-icons" alt="Facebook icon, link to the KCC Facebook page">
                </a>
              </span>
              <span>
                <a href="http://twitter.com/KCCedu" class="footer-social-links" target="_blank" rel="noopener">
                  <img src="{{page.baseurl}}assets/img/twitter-white.svg" class="footer-icons" alt="Twitter icon, link to KCC Twitter page">
                </a>
              </span>
              <span>
                <a href="http://www.instagram.com/kccedu/" class="footer-social-links" target="_blank" rel="noopener">
                  <img src="{{page.baseurl}}assets/img/instagram-white.svg" class="footer-icons" alt="Instagram icon, link to KCC Instagram page">
                </a>
              </span>
              <span>
                <a href="http://www.youtube.com/user/KankakeeCommCollege" class="footer-social-links" target="_blank" rel="noopener">
                  <img src="{{page.baseurl}}assets/img/youtube-white.svg" class="footer-icons" alt="YouTube icon, link to KCC YouTube page">
                </a>
              </span>
              <span>
                <a href="http://www.pinterest.com/kccedu/" class="footer-social-links" target="_blank" rel="noopener">
                  <img src="{{page.baseurl}}assets/img/pinterest-p_white.svg" class="footer-icons" alt="Pinterest icon, link to KCC Pinterest page">
                </a>
              </span>
              <span>
                <a href="http://www.linkedin.com/company/kankakee-community-college" class="footer-social-links" target="_blank" rel="noopener">
                  <img src="{{page.baseurl}}assets/img/linkedin-white.svg" class="footer-icons" alt="LinkedIn icon, link to KCC LinkedIn page">
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <a href="http://www.kcc.edu" target="_blank" rel="noopener"><img src="{{page.baseurl}}assets/img/kcc-text-logo.svg" alt="KCC Text Logo link to main website" class="img-fluid mx-auto"></a>
        <p>100 College Drive Kankakee, IL 60901 <br>
        <a class="links__darker-link" href="tel:18158028100">815-802-8100</a> <br>
        © <span id="currentYear">2018</span> Kankakee Community College</p>
      </div>
    </div>
  </div>
</footer>
