<div class="text-center">
  <span>
    <a href="https://www.facebook.com/KankakeeCommunityCollege/" class="footer-social-links" target="_blank" rel="noopener" title="Visit the KCC Facebook">
      <img
        src="{{ page.baseurl }}assets/img/facebook-f_white.svg"
        class="footer-icons"
        alt="Visit the KCC Facebook">
    </a>
  </span>
  <span>
    <a href="https://twitter.com/KCCedu" class="footer-social-links" target="_blank" rel="noopener" title="Visit the KCC X (formerly Twitter)">
      <img
        src="{{ page.baseurl }}assets/img/xitter.svg"
        class="footer-icons"
        alt="Visit the KCC X (formerly Twitter)">
    </a>
  </span>
  <span>
    <a href="https://www.instagram.com/kccedu/" class="footer-social-links" target="_blank" rel="noopener" title="Visit the KCC Instagram">
      <img
        src="{{ page.baseurl }}assets/img/instagram-white.svg"
        class="footer-icons"
        alt="Visit the KCC Instagram">
    </a>
  </span>
  <span>
    <a href="https://www.youtube.com/user/KankakeeCommCollege" class="footer-social-links" target="_blank" rel="noopener" title="Visit the KCC YouTube">
      <img
        src="{{ page.baseurl }}assets/img/youtube-white.svg"
        class="footer-icons"
        alt="Visit the KCC YouTube">
    </a>
  </span>
  <span>
    <a href="https://www.pinterest.com/kccedu/" class="footer-social-links" target="_blank" rel="noopener" title="Visit the KCC Pinterest">
      <img
        src="{{ page.baseurl }}assets/img/pinterest-p_white.svg"
        class="footer-icons"
        alt="Visit the KCC Pinterest">
    </a>
  </span>
  <span>
    <a href="https://www.linkedin.com/company/kankakee-community-college" class="footer-social-links" target="_blank" rel="noopener" title="Visit the KCC LinkedIn">
      <img
        src="{{ page.baseurl }}assets/img/linkedin-white.svg"
        class="footer-icons"
        alt="Visit the KCC LinkedIn">
    </a>
  </span>
</div>
