<header class="container-fluid header-global fixed-top">
  <nav id="headerGlobalNavbar" class="navbar navbar-expand-lg header-global__navbar--padding">
    <a class="navbar-brand header-global__brand" href="http://www.kcc.edu" aria-label="Kankakee Community College">
      {% include svg/kcc.html %}
    </a>
    <button id="searchIcon" tabindex="0" role="button" class="header-global__search-icon" aria-label="Toggle Search">
      <span id="searchImg" style="background-image: url('{{ page.baseurl }}assets/img/search.svg')" class="header-global__nav--search-icon" alt="Search icon"></span>
    </button>
    <div tabindex="-1" id="searchCollapse" aria-hidden="true" class="header-global__search-collapse">
      <gcse:searchbox-only resultsUrl="{{ page.baseurl }}search/"></gcse:searchbox-only>
    </div>
    <button class="navbar-toggler ml-auto header-global__navbar--toggler" type="button" data-toggle="collapse" data-target="#headerGlobalNavbarContent" aria-controls="headerGlobalNavbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-column" id="headerGlobalNavbarContent">
      {% include nav-global-top.html %}
      {% include nav-global-bottom.html %}
      {% include nav-local.html %}
    </div>
  </nav>
</header>
