<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{site.title}} - {{page.title}}</title>
        <meta name="description" content="{{page.description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include google-tag-wrapper.html %}
        <!-- YouTube API -->
        <meta name="yt-api-k" value="AIzaSyBpxv9JNl4AX816ScNmZcqHkLncMUeiAws" />
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        {% include styles/vendor.html %}
        <!-- Standard Favicon -->
        <link rel="icon" type="image/x-icon" href="{{page.baseurl}}favicon.ico" />
        <!-- Custom CSS for the KCC Theme -->
        <link rel="stylesheet" href="{{page.baseurl}}assets/css/kcc-theme.css{% comment %}{% if site.data.theme_cache_bust_css %}?version={{ site.data.theme_cache_bust_css | truncate: 32, '' }}{% endif %}{% endcomment %}">
        <!-- Custom CSS stylesheet specific to this site -->
        {% include styles/main.html %}
        <!-- Custom CSS Stylesheet for CloudCannon -->
        <link rel="stylesheet" href="{{page.baseurl}}assets/css/content.css">
        <!-- Uncomment to prevent IE-11 caching (for IE testing) -->
        <!-- <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="-1"> -->
    </head>
    <body id="page-top">
      {% include google-noscript-wrapper.html %}
