    <header class="container-fluid header-global fixed-top">
      <nav id="headerGlobalNavbar" class="navbar navbar-expand-lg header-global__navbar--padding">
        <a class="navbar-brand header-global__brand" href="/" aria-label="Kankakee Community College Home Page">
{% include svg/kcc.html %}
        </a>
        <button id="openSearchButton"
          role="button"
          class="header-global__search-icon"
          aria-label="Open Search"
          aria-hidden="false"
          tabindex="0">
          <span
            style="background-image: url('{{ page.baseurl }}assets/img/search.svg')"
            class="header-global__nav--search-icon"
            alt="Search icon">
          </span>
        </button>
        <div id="searchCollapse" aria-hidden="true" class="header-global__search-collapse">
          <gcse:searchbox-only resultsUrl="/search/"></gcse:searchbox-only>
          <p class="header-global__trending-label mb-0">Trending Searches&nbsp;<svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#e8eaed"
            aria-hidden="true"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z" />
          </svg></p>
          <ul class="header-global__search-suggestions">
            <li><a href="https://books.kcc.edu/">Bookstore</a></li>
            <li><a href="https://foundation.kcc.edu/scholarships/">Scholarships</a></li>
            <li><a href="https://www.kcc.edu/about/visitor-information/#campus-maps">Maps</a></li>
            <li><a href="https://news.kcc.edu">News</a></li>
            <li><a href="https://www.kcc.edu/academics/calendar/">Academic Calendar</a></li>
            <li><a href="https://www.kcc.edu/admissions/#request-your-transcript">Transcript Request</a></li>
            <li><a href="https://foundation.kcc.edu/">Give</a></li>
            <li><a href="https://kcc.instructure.com/login/saml">Canvas</a></li>
            <li><a href="https://www.kcc.edu/tuition-and-aid/financial-aid/">Financial Aid</a></li>
            <li><a href="https://www.kcc.edu/student-resources/clubs/">Clubs</a></li>
            <li><a href="https://athletics.kcc.edu/facilities/fitness-center/">Fitness Center</a></li>
            <li><a href="https://www.kcc.edu/student-resources/advising/">Advising</a></li>
            <li><a href="https://library.kcc.edu/tutoring/">Tutoring</a></li>
            <li><a href="https://catalog.kcc.edu">Course Catalog</a></li>
            <li><a href="https://www.kcc.edu/about/directories/">Directory</a></li>
          </ul>
        </div>
        <button id="closeSearchButton"
          role="button"
          class="header-global__close-icon header-global__close-icon--hidden"
          aria-label="Close Search"
          aria-hidden="true"
          tabindex="-1">
            <span
              style="background-image: url('{{ page.baseurl }}assets/img/x.svg')"
              class="header-global__nav--close-icon"
              alt="Close icon">
            </span>
        </button>
        <button class="navbar-toggler ml-auto header-global__navbar--toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#headerGlobalNavbarContent"
          aria-controls="headerGlobalNavbarContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a href="https://my.kcc.edu"
          target="_blank"
          rel="noopener"
          class="nav-link header-global__nav-top--nav-link typography__header-global--nav-top btn buttons__my-kcc buttons__my-kcc--mobile typography__my-kcc d-block d-lg-none">
          My KCC
        </a>
          <div class="collapse navbar-collapse flex-column{% if site.core_site == true %} header-global__core{% endif %}" id="headerGlobalNavbarContent">
{% include nav-global-top.html %}
{% include nav-global-bottom.html %}
{% if site.core_site != true %}{% include nav-global-local.html %}{% endif %}
        </div>
      </nav>
    </header>
