<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-8 header__bg positioning__offset-global-nav">
        <div class="row positioning__heading--row">
          <div class="col-5">&nbsp;</div>
          <div class="col-7 positioning__col--offset text-center">
            <h2 class="typography__register--h2">Get&nbsp;ahead.</h2>
            <h3 class="typography__register--h3">Register&nbsp;at&nbsp;KCC.</h3>
          </div>
        </div>
        <!--
        <span class="typography__register--caption">Adrian Benfield, Class of 2017</span>
        -->
      </div>
      <div class="col-xl-4 positioning__accordian--padding">
        <h4 id="page-top" class="typography__register-h4 text-center">ABOUT YOU</h4>
        <!--
          <h5 class="typography__register-h5 text-center">Classes Begin Jan. 7th</h5>
        <h5 class="typography__register-h5 text-center">Seats Are Filling Fast</h5>
        -->
        <div class="targetx__wrapper">
          {% include targetx-form.html %}
        </div>
      </div>
    </div>
  </div>
</header>
