{% comment %}
  <!-- ==========================================
    # The Hero Slider Component

    Consists of:
    - `/_includes/hero-slider.html`
    - `/assets/js/theme/src/sliders.js` - which gets called in `/assets/js/theme/src/all.js`
    - `/assets/scss/2-modules/_hero-slider.scss`
    - A `slides` collection defined in the pages YAML front-matter with the following:
      - ```YAML in HTML
        ---
        slides:
          - image: path/to/image/file.extension
            alt-text: Alt text to describe the image for screen-readers
            url: An absolute or relative URL, or '#' if no URL is desired for the slide
            text: The **POWER** of Community
            #### NOTE: wrapping a word in double asterisks (**POWER**) willl result in that word being bold ####
          - image: path/to/another/image/file.extension
            alt-text: More alternate text here
            url: 'landing-page'
            #### NOTE: omit the `text:` key completely if you do not want a heading over the slide ####
        ---
        ```
    - An include (i.e. `{% include hero-slider.html %}`) in the page which has `slides` defined in the YAML front-matter
    - Finally, you may need to adjust the width defined in the `.hero-slider__slider--heading-container` class 
      (found in `/assets/scss/2-modules/_hero-slider.scss`) by 1% or 2%. This is especially true if you added or removed slides.
  
  SEE: https://github.com/KankakeeCommunityCollege/kcc-development-environment/blob/master/kcc-gem-theme/hero-slider.md
  FOR MORE-DETAILED INFORMATION ON THE HERO-SLIDER COMPONENT.

  ========================================== -->
{% endcomment %}
<div class="row">
  <div class="col hero-slider__slider">
  {% for slide in page.slides %}
  {% assign url_first_char = slide.url | slice: 0 %}
    {% if forloop.first == true %}
    <div>
      <a {% if slide.url contains 'https://' or slide.url contains 'http:// %}target="_blank" href="{{ slide.url }}"{% elsif url_first_char == '.' or url_first_char == '/' %}href="{{ slide.url }}"{% else %}href="{{ page.baseurl }}{{ slide.url }}{% endif %}"><img src="{{page.baseurl}}{{slide.image}}" class="img-fluid hero-slider__slider--slide-img {% if slide.white_background %} hero-slider__slide-img--border{% endif %}" alt="{{slide.alt-text}}" /></a>
      {% if slide.text and slide.text != '' %}<div class="hero-slider__slider--heading-container text-center">
        <h3 class="hero-slider__slider--slide-heading">{{slide.text}}</h3>
      </div>{% endif %}
    </div>
    {% else %}
    <div>
      <a {% if slide.url contains 'https://' or slide.url contains 'http:// %}target="_blank" href="{{ slide.url }}"{% elsif url_first_char == '.' or url_first_char == '/' %}href="{{ slide.url }}"{% else %}href="{{ page.baseurl }}{{ slide.url }}{% endif %}"><img src="{{ page.baseurl }}assets/img/kcc-placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid hero-slider__slider--slide-img {% if slide.white_background %} hero-slider__slide-img--border{% endif %}" alt="{{slide.alt-text}}" /></a>
      {% if slide.text and slide.text != '' %}<div class="hero-slider__slider--heading-container text-center">
        <h3 class="hero-slider__slider--slide-heading">{{slide.text}}</h3>
      </div>{% endif %}
    </div>
    {% endif %}
  {% endfor %}
  </div>
</div>
