<div class="container mb-3 mt-5">
  <div class="row">
    <div class="col">
      <div class="row no-gutters">
        <div class="col-md-4 px-1 my-1">
          <a class="btn buttons__action"
            target="_blank"
            rel="noopener noreferrer"
            href="https://kccedu.force.com/portal/TX_SiteLogin?startURL=%2Fportal%2FTargetX_Base__Portal">
{% include svg/check_circle-24px.html %}&nbsp;Apply
          </a>
        </div>
        <div class="col-md-4 px-1 my-1">
          <a class="btn buttons__action"
            target="_blank"
            rel="noopener noreferrer"
            href="https://info.kcc.edu">
{% include svg/email-24px.html %}&nbsp;Request Info
          </a>
        </div>
        <div class="col-md-4 px-1 my-1">
          <a class="btn buttons__action"
            target="_blank"
            rel="noopener noreferrer"
            href="https://visit.kcc.edu">
{% include svg/place-24px.html %}&nbsp;Visit KCC
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
