<div class="container position__offset-fixed-nav">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-light bg-light sub-nav__navbar">
        <a class="navbar-brand" href="{{ page.baseurl }}{{ page.sub-nav_section }}"><h3 class="typography__sub-nav--red-h3">{{ page.sub-nav_section | capitalize }}</h3></a>
        <ul id="subNavNav" class="nav ml-auto">
        {% assign section = page.sub-nav_section | append: "/" %}
        {% for nav in site.sub-nav_links %}
          {% if nav.link_href contains section %}
          <li class="nav-item js-sub-nav-item">
            <a href="{{ page.baseurl }}{{ nav.link_href }}" class="nav-link sub-nav__nav-link">{{ nav.link_text }}</a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
