<ul class="navbar-nav header-global__nav-top justify-content-end header-global__navbar-nav--divider">
  <li class="nav-item">
    <a href="https://my.kcc.edu" target="_blank" rel="noopener" class="nav-link header-global__nav-top--nav-link typography__header-global--nav-top">My KCC</a>
  </li>
  <li class="nav-item">
    <a href="https://athletics.kcc.edu" target="_blank" rel="noopener" class="nav-link header-global__nav-top--nav-link typography__header-global--nav-top">Athletics</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link header-global__nav-top--nav-link typography__header-global--nav-top">Library</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link header-global__nav-top--nav-link typography__header-global--nav-top">Giving</a>
  </li>
</ul>
