<div class="container mb-3">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-light bg-light sub-nav__navbar">
        <a class="navbar-brand" href="{% if page.sub-nav_section_link == false %}#{% else %}{{ page.baseurl }}{{ page.sub-nav_section | downcase }}{% endif %}"><h2 class="typography__sub-nav--red-h2">{{ page.sub-nav_section | capitalize | replace: "-", " " }}</h2></a>
        <ul id="subNavNav" class="nav ml-auto">
        {% assign section = page.sub-nav_section | downcase | append: "/" %}
        {% for nav in site.sub-nav_links %}
          {% if nav.link_href contains section %}
          <li class="nav-item js-sub-nav-item">
            <a href="{{ page.baseurl }}{{ nav.link_href }}" class="nav-link sub-nav__nav-link">{{ nav.link_text }}</a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
