<nav id="globalNav" role="navigation" class="navbar global-nav fixed-top navbar-fixed-top">
  <a class="clickable navbar-brand global-nav__navbar-brand" href="http://www.kcc.edu"><img src="{{ page.baseurl }}assets/img/kcc-logo-inverse.svg" class="global-nav__kcc-logo-inverse" alt=""><img id="kccUrl" src="{{page.baseurl}}assets/img/kankakee-community-college-word-logo.svg" class="img-fluid kcc-logo" alt="Kankakee Community College link to home page"></a>
  <script>
    (function() {
      var cx = '006320264078644364913:sy48bet-lr8';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script> <a id="searchIcon" href="#" class="global-nav__search-toggle d-lg-none"><span id="searchImg" style="background-image: url('{{ page.baseurl }}assets/img/search.svg')" class="global-nav__search-icon" alt="Search icon"></span></a> <div id="searchCollapse" aria-hidden="true" class="global-nav__gcse-wrapper global-nav__search-collapse"><gcse:searchbox-only resultsUrl="{{ page.baseurl }}search/"></gcse:searchbox-only></div>
  <div class="global-nav__search--open-background"></div>
</nav>
