<ul class="navbar-nav header-global__nav-local justify-content-end align-items-lg-center bg-light">
  <li class="nav-item mr-auto">
    <a href="{{ page.baseurl }}" class="nav-link navbar-brand header-global__nav-local--navbar-brand">
      <h1 class="typography__nav-heading">{{ site.site_name }}</h1>
    </a>
  </li>
  {% for link in site.nav_links %}
  {% if link.button == false  %}
  <li class="js-nav-item nav-item">
    <a class="nav-link typography__header-global--nav-local typography__nowrap--sm" href="{% unless link.external == true %}{{page.baseurl}}{% endunless %}{{ link.link_href }}">{{ link.link_text }}</a>
  </li>
  {% else %}
  <li class="js-nav-item nav-item">
    <a href="{% unless link.external == true %}{{page.baseurl}}{% endunless %}{{ link.link_href }}" class="btn btn-primary typography__header-global--nav-local typography__nowrap--sm">{{ link.link_text }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
