<ul id="navGlobalBottom" class="navbar-nav header-global__nav-bottom justify-content-end header-global__navbar-nav--divider">
  <li class="nav-item dropdown">
    <a href="#" id="academicsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle header-global__nav-bottom--nav-link typography__nowrap--sm typography__header-global--nav-bottom">Academics</a>
    <div class="dropdown-menu" aria-labelledby="academicsDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a href="#" id="admissionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle header-global__nav-bottom--nav-link typography__nowrap--sm typography__header-global--nav-bottom">Admission</a>
    <div class="dropdown-menu" aria-labelledby="admissionDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a href="#" id="tuitionAidDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle header-global__nav-bottom--nav-link typography__nowrap--sm typography__header-global--nav-bottom">Tuition & Aid</a>
    <div class="dropdown-menu" aria-labelledby="tuitionAidDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a href="#" id="studentResourcesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle header-global__nav-bottom--nav-link typography__nowrap--sm typography__header-global--nav-bottom">Student Resources</a>
    <div class="dropdown-menu" aria-labelledby="studentResourcesDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a href="#" id="communityDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle header-global__nav-bottom--nav-link typography__nowrap--sm typography__header-global--nav-bottom">Community</a>
    <div class="dropdown-menu" aria-labelledby="communityDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a href="#" id="aboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle header-global__nav-bottom--nav-link typography__nowrap--sm typography__header-global--nav-bottom">About</a>
    <div class="dropdown-menu" aria-labelledby="aboutDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li>
</ul>
