<div class="text-center">
  <span>
    <a href="http://www.facebook.com/KankakeeCommunityCollege/" class="social-icons__links" target="_blank" rel="noopener">
      <img src="{{page.baseurl}}assets/img/facebook-f_white.svg" class="social-icons__icons" alt="Facebook icon, link to the KCC Facebook page">
    </a>
  </span>
  <span>
    <a href="http://twitter.com/KCCedu" class="social-icons__links" target="_blank" rel="noopener">
      <img src="{{page.baseurl}}assets/img/twitter-white.svg" class="social-icons__icons" alt="Twitter icon, link to KCC Twitter page">
    </a>
  </span>
  <span>
    <a href="http://www.instagram.com/kccedu/" class="social-icons__links" target="_blank" rel="noopener">
      <img src="{{page.baseurl}}assets/img/instagram-white.svg" class="social-icons__icons" alt="Instagram icon, link to KCC Instagram page">
    </a>
  </span>
  <span>
    <a href="http://www.youtube.com/user/KankakeeCommCollege" class="social-icons__links" target="_blank" rel="noopener">
      <img src="{{page.baseurl}}assets/img/youtube-white.svg" class="social-icons__icons" alt="YouTube icon, link to KCC YouTube page">
    </a>
  </span>
  <span>
    <a href="http://www.pinterest.com/kccedu/" class="social-icons__links" target="_blank" rel="noopener">
      <img src="{{page.baseurl}}assets/img/pinterest-p_white.svg" class="social-icons__icons" alt="Pinterest icon, link to KCC Pinterest page">
    </a>
  </span>
  <span>
    <a href="http://www.linkedin.com/company/kankakee-community-college" class="social-icons__links" target="_blank" rel="noopener">
      <img src="{{page.baseurl}}assets/img/linkedin-white.svg" class="social-icons__icons" alt="LinkedIn icon, link to KCC LinkedIn page">
    </a>
  </span>
</div>
