<div class="row editor-link">
  <div class="col editor-link mb-3">
    <a href="cloudcannon:collections/_tabs/" class="btn btn-success editor-button">Edit Tabs Collection</a>
  </div>
</div>
<ul class="nav nav-tabs" id="{{ page.title | replace: ' ', '-' | downcase }}" role="tablist">
  {% assign page_title = page.title %}
  {% assign tab_collection = site.tabs | where: "tabs_page", page_title | sort: "order" %}
  {% for tab in tab_collection %}
  <li class="nav-item">
    <a class="nav-link{% if forloop.first == true %} active{% endif %}" id="{{ tab.name | downcase | replace: ' ', '-' | replace: '&', 'and' | remove: '(' | remove: ')' | remove: '!' }}-tab" data-toggle="tab" href="#{{ tab.name | downcase | replace: ' ', '-' | replace: '&', 'and' | remove: '(' | remove: ')' | remove: '!' }}" role="tab" aria-controls="{{ tab.name | downcase | replace: ' ', '-' | replace: '&', 'and' | remove: '(' | remove: ')' | remove: '!' }}" aria-selected="{% if forloop.first == true %}true{% else %}false{% endif %}">{{ tab.name }}</a>
  </li>
  {% endfor %}
</ul>
<div class="tab-content mt-3 px-1" id="{{ page.title | replace: ' ', '-' | downcase }}-content">
  {% for tab in tab_collection %}
  <div class="tab-pane fade{% if forloop.first == true %} show active{% endif %}" id="{{ tab.name | downcase | replace: ' ', '-' | replace: '&', 'and' | remove: '(' | remove: ')' | remove: '!' }}" role="tabpanel" aria-labelledby="{{ tab.name | downcase | replace: ' ', '-' | replace: '&', 'and' | remove: '(' | remove: ')' | remove: '!' }}-tab">
    {{ tab.content }}
  </div>
  {% endfor %}
</div>
