<div class="row editor-link">
  <div class="col editor-link mb-3">
    <a href="cloudcannon:collections/_tabs/" class="btn btn-success editor-button">Edit Tabs Collection</a>
  </div>
</div>
{% if include.tabpanel_id %}
  {% assign tabpanel_id = include.tabpanel_id %}
{% else %}
  {% assign tabpanel_id = page.title | replace: ' ', '-' | downcase %}
{% endif %}
<ul class="nav nav-tabs navTabs" id="{{ tabpanel_id }}" role="tablist">
  {% assign page_title = page.title %}
  {% assign tab_collection = site.tabs | where: "tabs_page", page_title | sort: "order" %}
  {% for tab in tab_collection %}
  {% if tab.alternate_id %}
    {% assign tab_id = tab.alternate_id %}
  {% else %}
    {% assign tab_id = tab.name | downcase | remove: '-' | replace: '&', 'and' | replace: ' ', '-' | remove: "'" | replace: "/", "-" | remove: '’' | remove: '0' | remove: '1' | remove: '2' | remove: '3' | remove: '4' | remove: '5' | remove: '6' | remove: '7' | remove: '8' | remove: '9' | remove: '?' | remove: '!' | remove: '#' | remove: '$'  | remove: '.' | remove: ',' | remove: '(' | remove: ')' | remove: '®' | remove: '©' %}
  {% endif %}  
  <li class="nav-item" role="presentation">
    <button class="nav-link{% if forloop.first == true %} active{% endif %}" id="{{ tab_id }}-label" data-bs-toggle="tab" data-bs-target="#{{ tab_id }}" type="target" role="tab" aria-controls="{{ tab_id }}" aria-selected="{% if forloop.first == true %}true{% else %}false{% endif %}">{{ tab.name }}</button>
  </li>
  {% endfor %}
</ul>
<div class="tab-content mt-3 px-1" id="{{ tabpanel_id }}-content">
  {% for tab in tab_collection %}
  {% if tab.alternate_id %}
    {% assign tab_id = tab.alternate_id %}
  {% else %}
    {% assign tab_id = tab.name | downcase | remove: '-' | replace: '&', 'and' | replace: ' ', '-' | remove: "'" | replace: "/", "-" | remove: '’' | remove: '0' | remove: '1' | remove: '2' | remove: '3' | remove: '4' | remove: '5' | remove: '6' | remove: '7' | remove: '8' | remove: '9' | remove: '?' | remove: '!' | remove: '#' | remove: '$'  | remove: '.' | remove: ',' | remove: '(' | remove: ')' | remove: '®' | remove: '©' %}
  {% endif %}  
  <div class="tab-pane fade links__offset{% if forloop.first == true %} show active{% endif %}" id="{{ tab_id }}" role="tabpanel" aria-labelledby="{{ tab_id }}-label" tabindex="0">
    {{ tab.content }}
  </div>
  {% endfor %}
</div>

<br>

<hr>
