<p class="header-global__trending-label mb-0">Trending Searches&nbsp;<svg
  xmlns="http://www.w3.org/2000/svg"
  height="24px"
  viewBox="0 0 24 24"
  width="24px"
  fill="#e8eaed"
  aria-hidden="true"
>
  <path d="M0 0h24v24H0z" fill="none" />
  <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z" />
</svg></p>
<ul class="header-global__search-suggestions">
  <li><a class="ga_search_link" href="https://books.kcc.edu/">Bookstore</a></li>
  <li><a class="ga_search_link" href="https://foundation.kcc.edu/scholarships/">Scholarships</a></li>
  <li><a class="ga_search_link" href="https://www.kcc.edu/about/visitor-information/#campus-maps">Campus Maps</a></li>
  <li><a class="ga_search_link" href="https://news.kcc.edu">News</a></li>
  <li><a class="ga_search_link" href="https://www.kcc.edu/academics/calendar/">Academic Calendar</a></li>
  <li><a class="ga_search_link" href="https://www.kcc.edu/admissions/#request-your-transcript">Transcript Request</a></li>
  <li><a class="ga_search_link" href="https://foundation.kcc.edu/">Give</a></li>
  <li><a class="ga_search_link" href="https://kcc.instructure.com/login/saml">Canvas</a></li>
  <li><a class="ga_search_link" href="https://www.kcc.edu/tuition-and-aid/financial-aid/">Financial Aid</a></li>
  <li><a class="ga_search_link" href="https://www.kcc.edu/student-resources/student-life/clubs/">Clubs</a></li>
  <li><a class="ga_search_link" href="https://athletics.kcc.edu/facilities/fitness-center/">Fitness Center</a></li>
  <li><a class="ga_search_link" href="https://www.kcc.edu/student-resources/advising/">Advising</a></li>
  <li><a class="ga_search_link" href="https://library.kcc.edu/tutoring/">Tutoring</a></li>
  <li><a class="ga_search_link" href="https://catalog.kcc.edu">Course Catalog</a></li>
  <li><a class="ga_search_link" href="https://www.kcc.edu/about/directories/">Directory</a></li>
</ul>
