
.accordion {
  &__padding-left {
    padding-left: 0;
  }
  &__typography--card-header .btn-link {
    color: $primary-blue;
    font-family: $font-family-paragraph;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: left;
    &:hover {
      color: $primary-red;
    }
  }
  &__button::before {
    background-color: $primary-blue;
    border-radius: 50%;
    color: #fff;
    content: '\002D';
    display: inline-block;
    font-family: $font-family-paragraph;
    font-size: 2rem;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    position: relative; // Safari doesn't want to render this pseudo-element without `position: relative;`
    text-align: center;
    text-decoration: none !important;
    text-indent: 0;
    vertical-align: middle;
    width: 30px;
  }
  &__button.collapsed::before {
    content: '\002B';
  }
}

.accordion__button {
  text-indent: -45px;
  margin-left: 45px;
}
