
.accordion {
  &__padding-left {
    padding-left: 0;
  }
  &__typography--card-header .btn-link {
    color: $primary-blue;
    font-family: $font-family-paragraph;
    font-size: 1.4rem;
    font-weight: 600;
    &:hover {
      color: $primary-red;
    }
  }
  &__icon {
    background-color: $primary-blue;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-family: $font-family-paragraph;
    font-size: 2rem;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    text-decoration: none !important;
    vertical-align: middle;
    width: 30px;
    &--plus::after {
      content: "+";
      position: static;
    }
    &--minus::after {
      content: "-";
      position: relative;
      top: -3px;
    }
  }
}
