// Styling for the little loading GIF

.loader {
  text-align: center;
  &__img {
    height: 100px;
    width: 100px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.loader__sync--animate {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: center;
}

// Styles for new loader.svg
@keyframes spin-animation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader--animate {
  animation-name: spin-animation;
  animation-duration: 1s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
}
