
#yt_wrapper {
display: flex;
flex-wrap: wrap;
}

@media screen and (min-width: 992px) {
  #yt_wrapper {
    flex-wrap: nowrap;
  }
}

#yt_player {
  flex-direction: column;
  height: 50vh;
  left: 0;
  margin-top: 10px;
  top: 0;
  width: 100vw;
}

@media screen and (min-width: 1200px) {
  #yt_player {
    width: 50vw;
  }
}

#yt_list {
  flex-direction: column;
  justify-content: center;
  height: 50.5vh;
  margin-left: 0;
  width: 100vw;
  top: 0;
  right: 0;
  overflow-y: scroll;
}

@media screen and (min-width: 992px) {
  #yt_list {
    margin-left: 20px;
  }
}

@media screen and (min-width: 1200px) {
  #yt_list {
    width: 50vw;
  }
}

.yt-item {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: auto;
  width: calc(98% - 30px);
  float: left;
  padding: 15px;
  margin-bottom: 10px;
  margin-left: 35px;
  margin-right: 10px;
  margin-top: 10px;
}

@media screen and (orientation: portrait) and (max-width: 468px) {
  .yt-item {
    height: auto;
    width: calc(95% - 30px);
  }
}

@media screen and (min-width: 992px) {
  .yt-item {
    margin-left: 40px;
    width: calc(98% - 50px);
  }
}

a > .yt-item > img {
  width: 25%;
  float: left;
  margin-right: 20px;
}
.yt-item:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
div#channel_input {
  position: fixed;
  left: 10px;
}
div#channel_input > input,
div#channel_input > button {
  display: inline-block;
  padding: 0.2em;
  font-weight: 700;
  font-size: 2em;
}

div#channel_input > input#user_name {
  width: 250px;
  color: #111;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #dfab12;
  transition: 112ms;
}
div#channel_input > input#user_name:focus,
button#sbm:focus {
  outline: 1px solid #000;
  box-shadow: 0 0 10px #fff;
}
div#channel_input > input#user_name.error {
  color: #d33;
  border-color: #d33;
  text-decoration: line-through;
  background: rgba(0, 0, 0, 0.5);
}
div#channel_input > button#sbm {
  color: #dfab12;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #dfab12;
}
div#channel_input > div.info {
  display: none;
  width: calc(100% - 2em);
  font-size: 1em;
  line-height: 1.2em;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 1em;
  transition: 225ms;
}
button#load-more{
  display: block;
  margin: 1em auto;
  pading: .8em 1em;
  font-size: 2em;
  border: 1px solid;
  outline: none;
  border-radius:1em;
  transition: 225ms;
}
button#load-more:hover{
  cursor: pointer;
  background:rgba(0,0,0,1);
  color: #dfab12;
  border-color: #dfab12;
}
@media screen and (orientation: portrait) {
  #yt_player {
    width: 100%;
    height: 40vh;
  }
  #yt_list {
    height: 59vh;
    width: 100%;
    top: auto;
    bottom: 0;
    left: 0;
  }
}

.playlist__count {
  margin-left: -10vw;
  position: relative;
  top: 1.5rem;
  left: -15px;
}

@media screen and (min-width: 360px) {
  .playlist__count {
    margin-left:  -9vw;
  }
}

@media screen and (min-width: 375px) {
  .playlist__count {
    margin-left:  -9vw;
  }
}

@media screen and (min-width: 390px) {
  .playlist__count {
    margin-left:  -8vw;
  }
}

@media screen and (min-width: 410px) {
  .playlist__count {
    margin-left:  -8vw;
  }
}

@media screen and (min-width: 430px) {
  .playlist__count {
    margin-left:  -7vw;
  }
}

@media screen and (min-width: 490px) {
  .playlist__count {
    margin-left:  -6vw;
  }
}

@media screen and (min-width: 576px) {
  .playlist__count {
    margin-left:  -5vw;
  }
}

@media screen and (min-width: 700px) {
  .playlist__count {
    margin-left:  -4.5vw;
  }
}

@media screen and (orientation: portrait) and (min-width: 768px) {
  .playlist__count {
    margin-left:  -4vw;
  }
}

@media screen and (orientation: portrait) and (min-width: 880px) {
  .playlist__count {
    margin-left:  -3.5vw;
  }
}

@media screen and (min-width: 992px) {
  .playlist__count {
    margin-left: -35px;
  }
}

.playlist__title {
  font-size: 1.2rem;
}

@media screen and (min-width: 992px) {
  .playlist__title {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1400px) {
  .playlist__title {
    font-size: 1.4rem;
  }
}

.playlist__title--shift {
  position: relative;
  top: -.5rem;
  margin-left: 35%;
}

.playlist__more-btn--wrapper {
  text-align: center;
  margin-top: 30px;
}

.playlist__more-btn {
  margin-top: 20px;
}

.playlist__blue-play {
  clear: left;
  width: 2rem;
  height: 2rem;
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 0;
}
