// Variables
@import '0-tools/vars';
@import '0-tools/bootstrap-overrides';
@import '0-tools/cloudcannon';
@import '0-tools/gsc-overrides';
@import '0-tools/targetx-overrides';
@import '0-tools/google-translate-overrides';

// Base items
@import '1-base/typography';
@import '1-base/links';
@import '1-base/buttons';
@import '1-base/img';
@import '1-base/header-global';
@import '1-base/background';
@import '1-base/svg';
@import '1-base/html';

// Modular components
@import '2-modules/header';
@import '2-modules/footer';
@import '2-modules/sliders';
@import '2-modules/social-icons';
@import '2-modules/nav-landing'; // Styles for the navbar in landing pages.
@import '2-modules/nav-global';  // Remove after implimenting the new header-global with mega-nav.
@import '2-modules/error';
@import '2-modules/benefits';
@import '2-modules/hero-slider';
@import '2-modules/img-hover';
@import '2-modules/sub-nav';
@import '2-modules/card-section';
@import '2-modules/contacts';
@import '2-modules/accordion';
@import '2-modules/loader';
@import '2-modules/nav-global';
@import '2-modules/nav-local';
@import '2-modules/yt-embed';
@import '2-modules/breadcrumbs';

// Layout items
// @import "3-layout/...";
@import '3-layout/positioning';
@import '3-layout/margins';
@import '3-layout/padding';
@import '3-layout/tables';
@import '3-layout/section';
@import '3-layout/background';
@import '3-layout/thank-you';

// Page specific styling
// @import "4-pages/...";
@import '4-pages/index/home';
