                {% comment %}
                  <!-- aria-hidden="true" b/c they add no meaning to the button -->
                {% endcomment %}
                <svg
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  class="svg--max-width svg__button svg__action--place">
                  <path class="svg--fill-white"
                    d="M12,2C8.1,2,5,5.1,5,9c0,5.2,7,13,7,13s7-7.8,7-13C19,5.1,15.9,2,12,2z M12,11.5
                    c-1.4,0-2.5-1.1-2.5-2.5 s1.1-2.5,2.5-2.5s2.5,1.1,2.5,2.5S13.4,11.5,12,11.5z"/>
                  <path class="svg--fill-none" d="M0,0h24v24H0V0z"/>
                </svg>