<!-- dataTable's JS (v1.10.18 for use w/ bootstrap4 theme) -->
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<!-- dataTable's Bootstrap4 theme's JS -->
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<!-- dataTable's JS for "Responsive" extension -->
<script src="https://cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.min.js" crossorigin="anonymous"></script>
