// Margin styles
// ============================

.margins__col--top {
  margin-top: 40px;
}

.margins__col--btm {
  margin-bottom: 40px;
}

.margins__heading--btm {
  margin-bottom: 40px;
}

.margins__heading-tan--btm{
  margin-bottom: 21px;
}

.margins__bottom--none {
  margin-bottom: 0;
}
