
.section__heading-underline {
  background-image: url(/assets/img/heading-bg-underline.png);
  background-repeat: no-repeat;
  background-position: 0 50px;
}

.section__heading-underline--transparent {
  background-image: url(/assets/img/heading-bg-underline-transparent.png);
  background-repeat: no-repeat;
  background-position: 0 50px;
}

.section__heading-underline-tan {
  background-image: url(/assets/img/heading-bg-underline-tan.png);
  background-repeat: no-repeat;
  background-position: 0 50px;
}

.section__margin-bottom {
  margin-bottom: 3rem;
}
