{% include document-head.html %}
  {% include scripts/google-tag.html %}
  {% include styles/fonts.html %}
  {% include styles/main.html %}
  {% include body.html %}
  {% include scripts/google-noscript.html %}
  {% if site.translate == true %}{% include translate.html %}{% endif %}
  {% include header-global.html %}
  {% if site.core_root != true %}{% include emergency-alerts.html %}{% endif %}
  {{ content }}
  {% include footer.html %}
  {% include scripts/google-api.html %}
  {% include scripts/kcc-theme.html %}
  {% include scripts/custom.html %}
  {% if site.translate == true %}<!-- Link to this site's custom google translate stylesheet -->
  {% include scripts/translate.html %}{% endif %}
{% include foot.html %}
