{% include document-head.html %}
  {% include styles/fonts.html %}
  {% include scripts/google-tag.html %}
  {% if page.targetx_form == true %}{% include targetx-head.html %}{% endif %}
  {% include styles/vendor.html %}
  {% if page.sheet_key %}
  <!-- dataTables stylesheets -->
  <!-- dataTables Bootstrap4 themed stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
  <!-- dataTables "Responsive" extension stylesheet for bootstrap4 theme -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.2/css/responsive.bootstrap4.min.css" crossorigin="anonymous">
  {% endif %}
  {% include styles/main.html %}
  {% include body.html %}
  {% include scripts/google-noscript.html %}
  {% if site.translate == true %}{% include translate.html %}{% endif %}
  {% include nav-landing.html %}
  {{ content }}
  {% include benefits.html %}
  {% include bottom-action-call.html %}
  {% include footer.html %}
  {% include scripts/vendor-cdn.html %}
  {% include scripts/kcc-theme.html %}
  {% include scripts/kcc-theme-landing.html %}
  {% if page.sheet_key %}
  {% include scripts/table-cdn.html %}
  {% endif %}
  {% include scripts/custom.html %}
  {% if site.translate == true %}<!-- Link to this site's custom google translate stylesheet -->
  {% include scripts/translate.html %}{% endif %}
{% include foot.html %}
