{% include document-head.html %}
  {% include styles/fonts.html %}
  {% include scripts/google-tag.html %}
  {% include styles/vendor.html %}
  {% include styles/main.html %}
  {% include body.html %}
  {% include scripts/google-noscript.html %}
  {% if site.translate == true %}{% include translate.html %}{% endif %}
  {% include nav-landing.html %}
  {{ content }}
  {% include footer.html %}
  {% include scripts/vendor-cdn.html %}
  {% include scripts/kcc-theme.html %}
  {% include scripts/kcc-theme-landing.html %}
  {% include scripts/custom.html %}
  {% if site.translate == true %}<!-- Link to this site's custom google translate stylesheet -->
  {% include scripts/translate.html %}{% endif %}
{% include foot.html %}
